body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: beige;
    height: 100%;
    width: 100%;
}

footer{
    width:100%;
    text-align:center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a:hover, a:focus{
    text-decoration:none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

@media (min-width:1500px) {
    .container {
        width: 1470px
    }
}